<div class="container">
  <form class="login-form" name="loginForm">
    <h1 class="form-title">Login</h1>
    <div class="form-group">
      <label class="form-label">Username</label>
      <input type="text" name="username" required class="form-input" />
    </div>
    <div class="form-group">
      <label class="form-label">Password</label>
      <input type="password" name="password" required class="form-input" />
    </div>
    <div class="form-group">
      <button class="form-button" (click)="login()">Login</button>
    </div>
  </form>
</div>
