<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="login.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-auth.js"></script>

    <link rel="stylesheet" href="./app.component.scss" />
  </head>
  <div *ngIf="!showMovies && !showSeries">
    <app-login></app-login>
  </div>
  <router-outlet></router-outlet>
</html>
